:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-bg: #1a181b;
  --secondary-text: #5E5A5E;
  --secondary-line: #2a282a;

  --snake: #D90368;
  --food: #FB8B24;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-bg);
}

.playground-d3 {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .game-svg {
    aspect-ratio: 1/1;
    border: 1px solid var(--secondary-line);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    overflow: unset;
  }
  .axis-group {
    .tick {
      position: relative;
      line {
        color: var(--secondary-line);
      }
      text {

        color: var(--secondary-text);
      }
    }
  }
  .snake {
    fill: none;
    .snake-body {
      stroke: var(--snake);
      stroke-linecap: round;
    }
  }
  .food-group {
    .food {
      position: relative;
      fill: var(--food);
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 250px;
      background: linear-gradient(red, rgba(0,0,0,0));
    }
  }
}

.playground-browser {
  position: relative;
  border: 5px solid red;
  width: 480px;
  height: 480px;
  background: lightgray;
}
